@use './theming/breakpoints' as *;

nav {
  display: flex;
  justify-content: space-around;
  background-color: #007acc;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: 'Arial', sans-serif;

  a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    text-transform: uppercase;
    margin: 0 10px;

    &:hover,
    &:focus {
      background-color: #005f99;
      color: #e0e0e0;
      outline: none;
    }

    &:active {
      background-color: #004080;
    }
  }

  .nav-links {
    display: none; // Hidden by default for smaller screens
    flex-direction: column;
    align-items: center;

    &.active {
      display: flex; // Show when active
    }

    @media (min-width: map-get($breakpoints, xs)) {
      display: flex; // Always show for larger screens
      flex-direction: row;
      gap: 15px;
    }
  }

  // Responsive styles for smaller screens
  @media (max-width: map-get($breakpoints, md)) {
    flex-direction: column;

    a {
      margin: 5px 0;
    }
  }

  @media (max-width: map-get($breakpoints, xs)) {
    a {
      font-size: 14px;
      padding: 8px 10px;
    }
  }
}
